<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="defaultEncoding" value="utf-8" />
		<property name="basenames">
			<list>
				<value>classpath:messages</value>
			</list>
		</property>
	</bean>

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
			<list>
				<!-- <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/> -->
				<bean id="byteArrayMessageConverter"
					class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />

				<!-- <bean class="com.springsource.samples.resttemplate.BufferedImageHttpMessageConverter"/> -->
			</list>
		</property>

	</bean>
</beans>
